.main {
    height: 100vh;
    border-right: 1px solid #857E81;
    width: 700px;
    display: flex;
    flex-direction: column;
}
.chatName {
    height: 80px;
    border-bottom: 1px solid #857E81;
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.chatNameContainer {
    height: fit-content;
    display: flex;
    & > div {
        margin-left: 10px;
        & > h2 {
            font-size: 20px;
            color: white;
            font-weight: 400;
        }
    }
}
.textarea{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    form {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #1a2332;
        padding: 10px;
        input {
            width: 100%;
            padding: 15px;
            border: 1px solid transparent;
            color: #857E81;
            background-color: transparent;
        }
        button {
            background: transparent;
            border: none;
            color: #857E81;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}
.icon {
    font-size: 25px;
}
.messages {
    border-bottom: 1px solid #857E81;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /* Изменено с scroll на auto */
    justify-content: flex-end; /* Изменено с end на flex-end */
}
.messages::-webkit-scrollbar {
    width: 10px; /* Ширина вертикального скроллбара */
  }
  
  .messages::-webkit-scrollbar-thumb { /* Стили скролла*/
    background-color: darkgrey;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  .messages::-webkit-scrollbar-track { /* Поле скролла*/
    background-color: white;
    // border-radius: 10px;
  }
.container {
    width: 100%;
    display: flex;
}
.message {
    width: fit-content;
    max-width: 100%;
    overflow-wrap: anywhere;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    & > small {
        color: white;
        font-size: 11px;
    }
    & > p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}